.Table {
  display: grid;
  gap: 1rem;
  width: 100%;
  overflow: auto;
}
.Table table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  min-width: 700px;
  text-align: left;
  border: 1px solid #ccc;
}
.Table table thead {
  color: white;
}
.Table table thead th {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #56638f;
  padding: 1rem 0.5rem;
  /* letter-spacing: 0.05rem; */
  text-transform: uppercase;
  vertical-align: middle;
}

.Table table tbody tr {
  cursor: pointer;
  color: #777;
}

.Table table tbody tr td {
  border-bottom: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 1rem 1rem;
  color: inherit;
  cursor: pointer;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  position: relative;
  /* display: -webkit-box;
    -webkit-box-orient: vertical; */
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.add_bt {
  background-color: green;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.6rem 1rem;
}

.del_bt {
  background-color: red;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form_grid {
  display: grid;
  gap: 0.5rem;
}

.form_grid > input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 2rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.checkbox {
  width: 20px;
  height: 20px;
}
